.zosp-social-buttons
{
	padding-bottom: 18px;
	height: 20px;
	/* border: 1px solid red; */
}

.zosp-social-buttons .zosp-social-button
{
	display: block;
	float: left;
	height: 26px;
	/* border: 1px solid blue; */
	padding: 0;
	margin: 0;
}

.zosp-social-buttons .zosp-social-twitter,
.zosp-social-buttons .zosp-social-plusone,
.zosp-social-buttons .zosp-social-pinit
{
	height: 25px;
	width: auto;
	padding-top: 1px;
}

.zosp-social-buttons .zosp-social-facebook
{
	min-width: 130px;
        max-width: 150px;
}

#facebook-comments 
{
	margin: 0 auto;
}

#facebook-reply-title
{
	font: normal 36px 'Droid Sans', Arial, sans-serif;
	text-shadow: 1px 1px 1px #ccc;
    	font-size: 18px;
	padding: 18px 0;
}
