.zosp-social-buttons {
	height: 28px;
}

.zosp-social-buttons .zosp-social-button
{
    padding-top: 4px;
    margin-right: 8px;
    float: left;
    height: 24px;
}

.zosp-social-buttons .zosp-social-twitter {
	height: 24px;
}

.zosp-social-buttons .zosp-social-facebook {
	padding-top: 0;
	height: 28px;
}

#facebook-comments 
{
    margin: 0 auto;
}

#facebook-reply-title
{
    font: normal 36px 'Droid Sans', Arial, sans-serif;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 18px;
    padding: 18px 0;
}

